<script lang="ts" setup>
import moment from "moment";
const { data: rawListNews, pending: isLoadingNews, execute } = await useLazyAsyncData('fetchListNews', () => $fetch('/api/news'))

function redirectToMedium(indexNews: number) {
    window.open(rawListNews.value?.data[indexNews].link?._text, '_blank');
}

</script>
<template>
    <LazyBaseAppNavbarDesktopComponent/>
    <a-layout-content style="height: 100vh; overflow-y: scroll;">
        <div class="h-25"></div>
        <a-row style="background-color: white; min-height: 100vh;" align="start">
            <a-col :span="18" offset="3" align="center">
                <a-row justify="space-between">
                    <a-col :span="7" offset="1" align="center" class="container card hoverable-shadow" v-for="(item, index) in rawListNews?.data" @click="redirectToMedium(index)">
                        <div
                            :style="['width: 100%; height: 13rem; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: center;', { backgroundImage: `url('${item.thumbnail}')` }]">
                        </div>
                        <div style="height: 7em;">
                            <div class="font-size--7 mt-1">{{ item.title?._cdata }}</div>
                            <div class="font-size--5 mt-1">{{ moment(item.pub_date?._text).format("DD MMMM YYYY") }}</div>
                            <div class="font-size--5 mt-1">
                                <a-tag color="#4fcbe9">{{ item.category[0]?._cdata }}</a-tag>    
                            </div>
                        </div>
                    </a-col>
                </a-row>
            </a-col>
        </a-row>
        <div class="h-10"></div>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.container {
    min-height: 20rem;
    margin-bottom: 4em;
}

.card {
    height: 25rem;
    border-style: dashed;
    border-width: 5px;
    border-color: gainsboro;
}
</style>
