<script lang="ts" setup>
import type { Books } from "@/repository/books";
useHead({
    title: "Home"
})
const { $api } = useNuxtApp();

let bookList = useState<Books>('bookList', () => <Books>{})

const getBookList = async () => {
    const {
        data: rawData,
        pending,
        error,
        execute,
        refresh,
        status
    } = await $api.books.getBook({
        server: true,
    })
    bookList.value = rawData as unknown as Books
}

const current = ref(2);
const state = ref("warning");
</script>
<template>
    <a-page-header 
        style="border: 1px solid rgb(235, 237, 240)" 
        title="Title" 
        sub-title="This is a subtitle"
        class="ma-0 pa-0"
        @back="() => null" 
    />
</template>