<script lang="ts" setup>
import { useDeviceType, DeviceType } from "~/stores/device/device";
const device = useDeviceType()
const { locale } = useI18n()

device.initialize()
switch (navigator.language) {
  case 'id':
    locale.value = 'id-ID'
    break;

  default:
    locale.value = 'en-US'
    break;
}

</script>
<template>
    <HomeMobileComponent v-if="device.deviceType == DeviceType.Mobile" />
    <HomeTabletComponent v-else-if="device.deviceType == DeviceType.Tablet" />
    <HomeTabletLandscapeComponent v-else-if="device.deviceType == DeviceType.TabletLandscape" />
    <HomeLaptopComponent v-else-if="device.deviceType == DeviceType.Laptop" />
    <HomeDesktopComponent v-else-if="device.deviceType == DeviceType.Desktop" />
</template>