<script lang="ts" setup>
import { useDeviceType, DeviceType } from "~/stores/device/device";
const device = useDeviceType()
const { locale } = useI18n()

device.initialize()
switch (navigator.language) {
  case 'id':
    locale.value = 'id-ID'
    break;

  default:
    locale.value = 'en-US'
    break;
}

</script>
<template>
    <LazyTimelineDesktopComponent v-if="device.deviceType == DeviceType.Desktop" />
    <LazyTimelineLaptopComponent v-if="device.deviceType == DeviceType.Laptop" />
    <LazyTimelineTabletComponent v-if="device.deviceType == DeviceType.Tablet" />
    <LazyTimelineMobileComponent v-if="device.deviceType == DeviceType.Mobile" />
    <LazyTimelineTabletLandscapeComponent v-if="device.deviceType == DeviceType.TabletLandscape" />
</template>