<script lang="ts" setup>
const router = useRouter()
const runningText = [
    `Hi, I'm Faisal Affan`,
    `I Make Cool Website`,
    `I Build Powerfull Apps`,
    `I Love To Scaling Up Apps`,
]

function goTo(link: string) {
    router.push(link)
}
function redirect(link: string) {
    window.open(link, "_blank")
}
</script>
<template>
    <BaseAppNavbarMobileComponent />
    <a-layout-content style="min-height: 100vh;">
        <a-row style="background-color: white; min-height: 100vh;">
            <a-col :span="24" align="center" justify="start">
                <div style="height: 60vh;">
                    <img src="@/assets/img/me.png" height="100%" alt="faisalaffan" loading="lazy" style="padding-top: 10vh;" @click="redirect('https://www.youtube.com/watch?v=KOYAYcf3XJk')" class="hoverable">
                </div>
            </a-col>
            <a-col :span="24" align="center" justify="start">
                <BaseRawTypingComponent :display-text-array="runningText"/>
                <div class="font-size--5 font-weight-normal my-1">
                    Saya seorang <b class="font-weight-bold">Software Engineer</b> dari Malang yang berfokus pada Website And Application.
                    Menikmati membangun semuanya dari situs app kecil hingga app yang elegan.
                </div>
                <div class="font-size--5 font-weight-normal">
                    Lihat <a-typography-link @click="goTo('/portofolio')">Portfolio Saya</a-typography-link> dan juga <a-typography-link href="https://drive.google.com/file/d/110ovyIaXjW99bFZaRgrxaMOCDgLGFzXa/view?usp=sharing" target="_blank">Unduh CV</a-typography-link>, <a-typography-link href="https://drive.google.com/file/d/1mbjFp05ODs7b7qxXo5ATn6aMompuS90s/view?usp=sharing" target="_blank">ATS</a-typography-link> Saya
                </div>
            </a-col>
        </a-row>
    </a-layout-content>
</template>