<script setup lang="ts">
function goTo(url: string) {
    window.open(`${url}`);
}
</script>
<template>
    <a-row :gutter="10">
        <a-col :xs="12" :sm="12" :md="12" :lg="6" :xl="6">
            <img src="/portfolio/acquisition/banner-2.png" alt="acquisition_banner_2" class="hoverable" width="100%"
                loading="lazy" @click="goTo('/portfolio/acquisition/banner-2.png')">
        </a-col>
    </a-row>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Terra Acquisition Sitepat adalah layanan electronic channel yang dikembangkan oleh BTPN Syariah sebagai media yang dapat digunakan untuk meningkatkan kualitas pelayanan penyaluran pembiayaan (financing)
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Di btpns saya telah menyelesaikan <b class="font-weight-bold orange-btpn--text">595 Story point</b> dengan <b
            class="font-weight-bold orange-btpn--text">32 sprint</b>
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Jika dikerjakan dalam satuan waktu saya berhasil mengerjakan <b class="font-weight-bold orange-btpn--text">2560
            Jam</b> yang seharusnya dikerjakan dalam <b class="font-weight-bold orange-btpn--text">2720 jam / 34 Sprint</b> tetapi
        saya mengerjakan dalam <b class="font-weight-bold orange-btpn--text">32 sprint</b>
    </div>
    <div class="text-left">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/jira_report-0052CC?style=for-the-badge&logo=jira&logoColor=white" alt="" loading="lazy" @click="goTo('/faisal-current-jira-point.html')">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Jika ingin melihat demo <span class="font-weight-bold">sekilas</span> kontribusi yang saya kerjakan boleh email saya karena terkait konten <span class="font-weight-bold">confidental</span> dan untuk connect ke environment BTPNS harus menggunakan vpn saya harus patuh terhadap rule yang berlaku.
    </div>
    <!-- TODO: Replace This If U Resign -->
    <!-- <div class="font-size--5 font-weight-normal text-left my-1">
        Jika ingin melihat demo sekilas kontribusi yang saya kerjakan boleh email saya karena terkait konten <span class="font-weight-bold">confidental</span> dan untuk connect ke environment BTPNS harus menggunakan vpn dan untuk saat ini saya tidak bisa connect vpn karena sudah di hapus hak akses saya.
    </div> -->
    <div class="text-left">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/mail_me-EA4335?style=for-the-badge&logo=gmail&logoColor=white" alt="" loading="lazy" 
        @click="goTo('mailto:faisallionel@gmail.com?subject=Request Demo Acquisition BTPN Syariah&body=Hi, Saya tertarik dengan kinerja dan knowledge anda. bolehkah saya set meet dengan anda ?')">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Di sini saya bisa belajar flow bisnis dengan baik dan cepat meliputi:
        <ul>
            <li>●  flow surprise visit</li>
            <li>●  flow dual control approval</li>
            <li>●  flow survey dan wawancara</li>
        </ul>
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Di sini saya memiliki inovasi:
        <ul>
            <li>1. memecahkan solusi masalah aplikasi tidak bisa digunakan di daerah minim internet (pelosok) dengan
                menggunakan teknologi MQTT dan AMQ </li>
            <li>2. memecahkan solusi asynchronouse API call lama dengan Apache Kafka message queue broker.</li>
            <li>3. memecahkan solusi upload gambar presistent storage dan aksesibilitas cepat di lingkungan
                microservices
                menggunakan AWS S3.</li>
            <li>4. memecahkan solusi protokol komunikasi antar service menggunakan protokol GRPC</li>
            <li>5. memecahkan solusi notifikasi menggunakan FIREBASE notification</li>
            <li>6. memecahkan solusi penandatanganan dokumen digital menggunakan EMETERAI</li>
            <li>7. memecahkan solusi aplikasi lamban dengan implementasi LOAD BALANCE dari KUBERNETES</li>
            <li>8. memecahkan solusi login dengan satu repository LDAP SSO</li>
        </ul>
    </div>
    <div class="font-size--6 font-weight-bold text-left my-1">
        Technology Stack Used
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Workflow Project Management, Documentation & Tools:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/MS_TEAMS-6264A7?style=for-the-badge&logo=microsoftteams&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/JIRA-0052CC?style=for-the-badge&logo=jira&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/CONFLUENCE-172B4D?style=for-the-badge&logo=confluence&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/POSTMAN-FF6C37?style=for-the-badge&logo=postman&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/SWAGGER-85EA2D?style=for-the-badge&logo=swagger&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/DBEAVER-382923?style=for-the-badge&logo=dbeaver&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/FIGMA-F24E1E?style=for-the-badge&logo=figma&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Programming Language:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/GOLANG-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/JAVASCRIPT-F7DF1E?style=for-the-badge&logo=javascript&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Framework & Library:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/GOLANG_FIBER-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/REACT_NATIVE-61DAFB?style=for-the-badge&logo=react&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/NEXTJS_14-000000?style=for-the-badge&logo=nextdotjs&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Testing (Automated & Manual):
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/JEST-C21325?style=for-the-badge&logo=jest&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/CYPRESS-69D3A7?style=for-the-badge&logo=cypress&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/SELENIUM-43B02A?style=for-the-badge&logo=selenium&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/TEST_RAIL-65C179?style=for-the-badge&logo=testrail&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Deployments:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/DOCKER-2496ED?style=for-the-badge&logo=docker&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/KUBERNETES-326CE5?style=for-the-badge&logo=kubernetes&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/AWS_ROSA-EE0000?style=for-the-badge&logo=redhatopenshift&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/TERRAFORM-844FBA?style=for-the-badge&logo=terraform&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Database & Store:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/SQL_SERVER-CC2927?style=for-the-badge&logo=microsoftsqlserver&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/MONGO_DB-47A248?style=for-the-badge&logo=mongodb&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/FIREBASE-FFCA28?style=for-the-badge&logo=firebase&logoColor=white" alt="" loading="lazy">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/AWS_S3-569A31?style=for-the-badge&logo=amazons3&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Caching:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/REDIS-DC382D?style=for-the-badge&logo=redis&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Message Broker:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable" src="https://img.shields.io/badge/APACHE_KAFKA-231F20?style=for-the-badge&logo=apachekafka&logoColor=white" alt="" loading="lazy">
    </div>
    <div class="h-10"></div>
</template>