<script lang="ts" setup>
const props = defineProps<{
    portfolioType: string
}>()
</script>
<template>
    <LazyPortofolioContentAcquisitionContent v-if="props.portfolioType == 'acquisition'" />
    <LazyPortofolioContentCyberaContent v-if="props.portfolioType == 'cybera'" />
    <LazyPortofolioContentMinervaContent v-if="props.portfolioType == 'minerva'" />
    <LazyPortofolioContentSitepatContent v-if="props.portfolioType == 'sitepat'" />
    <LazyPortofolioContentYoutamaContent v-if="props.portfolioType == 'youtama'" />
</template>