<script setup lang="ts">
function goTo(url: string) {
    window.open(`${url}`);
}
</script>
<template>
    <a-row :gutter="10">
        <a-col :xs="12" :sm="12" :md="12" :lg="6" :xl="6">
            <img src="/portfolio/minerva/banner-2.png" alt="minerva_banner_2" class="hoverable" width="100%"
                loading="lazy" @click="goTo('/portfolio/minerva/banner-2.png')">
        </a-col>
        <a-col :xs="12" :sm="12" :md="12" :lg="6" :xl="6">
            <img src="/portfolio/minerva/banner-3.png" alt="minerva_banner_3" class="hoverable" width="100%"
                loading="lazy" @click="goTo('/portfolio/minerva/banner-3.png')">
        </a-col>
    </a-row>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Berikut Video Record dan Screenshot karena untuk connect ke environment Petrosea Minerva harus menggunakan vpn
        dan untuk saat ini saya tidak bisa connect vpn karena sudah di hapus hak akses saya.
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <div class="font-weight-bold font-size--10 orange-btpn--text">Screen Record</div>
        <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/2leAN2eHuBA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Responsibilities :
        <ul>
            <li>● Working as a front-end & back-end engineer</li>
            <li>● Sharing knowledge to a colleague</li>
            <li>● Developing Petrosea NewMinerva (Coal Mining Company)</li>
        </ul>
    </div>
    <div class="font-size--6 font-weight-bold text-left my-1">
        Technology Stack Used
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Workflow Project Management, Documentation & Tools:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/MS_TEAMS-6264A7?style=for-the-badge&logo=microsoftteams&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JIRA-0052CC?style=for-the-badge&logo=jira&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/CONFLUENCE-172B4D?style=for-the-badge&logo=confluence&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/POSTMAN-FF6C37?style=for-the-badge&logo=postman&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/SWAGGER-85EA2D?style=for-the-badge&logo=swagger&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/DBEAVER-382923?style=for-the-badge&logo=dbeaver&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/FIGMA-F24E1E?style=for-the-badge&logo=figma&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Programming Language:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/GOLANG-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JAVASCRIPT-F7DF1E?style=for-the-badge&logo=javascript&logoColor=white"
            alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Framework & Library:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/ECHO_FRAMEWORK-00ADD8?style=for-the-badge&logo=go&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/REACT_NATIVE-61DAFB?style=for-the-badge&logo=react&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/NUXTJS2-00DC82?style=for-the-badge&logo=nuxtdotjs&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Testing (Automated & Manual):
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JEST-C21325?style=for-the-badge&logo=jest&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/CYPRESS-69D3A7?style=for-the-badge&logo=cypress&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/SELENIUM-43B02A?style=for-the-badge&logo=selenium&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/TEST_RAIL-65C179?style=for-the-badge&logo=testrail&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Deployments:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/DOCKER-2496ED?style=for-the-badge&logo=docker&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/KUBERNETES-326CE5?style=for-the-badge&logo=kubernetes&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/TERRAFORM-844FBA?style=for-the-badge&logo=terraform&logoColor=white"
            alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Database & Store:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/POSTGRES-4169E1?style=for-the-badge&logo=postgresql&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/MONGO_DB-47A248?style=for-the-badge&logo=mongodb&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/FIREBASE-FFCA28?style=for-the-badge&logo=firebase&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/AWS_S3-569A31?style=for-the-badge&logo=amazons3&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Caching:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/REDIS-DC382D?style=for-the-badge&logo=redis&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Message Broker:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/NATS_STREAMING_SERVER-27AAE1?style=for-the-badge&logo=natsdotio&logoColor=white"
            alt="" loading="lazy">
    </div>
    <div class="h-10"></div>
</template>