<script setup lang="ts">
function goTo(url: string) {
    window.open(`${url}`);
}
</script>
<template>
    <a-row :gutter="10">
        <a-col :xs="12" :sm="12" :md="12" :lg="6" :xl="6">
            <img src="/portfolio/youtama/banner-2.png" alt="youtama_banner_2" class="hoverable" width="100%"
                loading="lazy" @click="goTo('/portfolio/youtama/banner-2.png')">
        </a-col>
    </a-row>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <div class="font-weight-bold font-size--10 orange-btpn--text">Design Flow</div>
        <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/fbcM_zuDTpw"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Responsibilities :
        <ul>
            <li>● Working as a back-end engineer</li>
            <li>● Sharing knowledge to a colleague</li>
            <li>● Working direct to CEO to gathering flow business</li>
        </ul>
    </div>
    <div class="font-size--6 font-weight-bold text-left my-1">
        Technology Stack Used
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Workflow Project Management, Documentation & Tools:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/SLACK-4A154B?style=for-the-badge&logo=slack&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JIRA-0052CC?style=for-the-badge&logo=jira&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/CONFLUENCE-172B4D?style=for-the-badge&logo=confluence&logoColor=white"
            alt="" loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/POSTMAN-FF6C37?style=for-the-badge&logo=postman&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/SWAGGER-85EA2D?style=for-the-badge&logo=swagger&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/DBEAVER-382923?style=for-the-badge&logo=dbeaver&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/FIGMA-F24E1E?style=for-the-badge&logo=figma&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Programming Language:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JAVASCRIPT-F7DF1E?style=for-the-badge&logo=javascript&logoColor=white"
            alt="" loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Framework & Library:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/EXPRESS_JS-000000?style=for-the-badge&logo=express&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Testing (Automated & Manual):
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/JEST-C21325?style=for-the-badge&logo=jest&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/CYPRESS-69D3A7?style=for-the-badge&logo=cypress&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/SELENIUM-43B02A?style=for-the-badge&logo=selenium&logoColor=white" alt=""
            loading="lazy">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/TEST_RAIL-65C179?style=for-the-badge&logo=testrail&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Deployments:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/DOCKER-2496ED?style=for-the-badge&logo=docker&logoColor=white" alt=""
            loading="lazy">
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        Database & Store:
    </div>
    <div class="font-size--5 font-weight-normal text-left my-1">
        <img class="mr-1 hoverable"
            src="https://img.shields.io/badge/POSTGRES-4169E1?style=for-the-badge&logo=postgresql&logoColor=white"
            alt="" loading="lazy">
    </div>
    <div class="h-10"></div>
</template>