<script lang="ts" setup>
import ListSkillDemo from "./skillset";
function redirect(url: string) {
    window.open(url, '_blank');
}
const device = useDeviceType()
device.initialize()
</script>
<template>
    <BaseAppNavbarDesktopComponent v-if="device.deviceType == DeviceType.Desktop" />
    <BaseAppNavbarMobileComponent v-else-if="device.deviceType == DeviceType.Mobile || device.deviceType == DeviceType.Tablet || device.deviceType == DeviceType.TabletLandscape || device.deviceType == DeviceType.Laptop" />
    <a-layout-content style="min-height: 100vh;">
        <div class="h-12"></div>
        <a-row style="background-color: white; min-height: 90vh;" align="start">
            <!-- <a-col :span="12" offset="6" align="left" class="mt-5">
                <a-flex justify="space-between" align="center">
                    <a-typography-title>Knowledge</a-typography-title>
                    <div class="font-size--5 mb-1 font-weight-bold hoverable" @click="() => $router.push('/timeline')">Back</div>
                </a-flex>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1 hoverable bg-hover" v-for="(item, _) in ListSkillDemo" @click="redirect(item.url)">
                    <div class="black--text font-weight-bold font-size--5 text--underline">
                        {{ item.skillset }}
                    </div>
                    <div class="black--text font-weight-normal font-size--5">
                        {{ item.timeline }}
                    </div>
                </div>
            </a-col> -->
            <a-col :span="22" offset="1" align="left" class="mt-5">
                <a-flex justify="space-between" align="center">
                    <a-typography-title>Knowledge</a-typography-title>
                    <div class="font-size--5 mb-1 font-weight-bold hoverable" @click="() => $router.push('/timeline')">Back</div>
                </a-flex>
                <div style="border-bottom: 1px solid #e5e7eb; overflow-x: hidden;" class="py-1 hoverable bg-hover" v-for="(item, _) in ListSkillDemo.sort((a,b) => (a.id > b.id ? -1 : 1))" @click="redirect(item.url)">
                    <div class="black--text font-weight-bold font-size--5 text--underline">
                        {{ item.skillset }}
                    </div>
                    <div class="black--text font-weight-normal font-size--5">
                        {{ item.timeline }}
                    </div>
                </div>
            </a-col>
        </a-row>
        <div class="h-20"></div>
    </a-layout-content>
</template>