<script lang="ts" setup>
import ListSkillDemo from "./skillset";
import ListTimeline from "./timeline";
function redirect(url: string) {
    window.open(url, '_blank');
}
</script>
<template>
    <LazyBaseAppNavbarMobileComponent />
    <a-layout-content style="min-height: 100vh;">
        <div class="h-15"></div>
        <a-row style="background-color: white;" align="middle">
            <a-col :span="20" offset="2" align="center">
                <div class="image-me"></div>
            </a-col>
            <a-col :span="20" offset="2" align="left" class="mt-3">
                <a-typography-title>Resume</a-typography-title>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1" v-for="(item, _) in ListTimeline">
                    <div class="black--text font-weight-normal font-size--5" v-html="item.timeline"></div>
                    <div class="black--text font-weight-bold font-size--5">
                        {{ item.title }}
                    </div>
                </div>
            </a-col>
            <a-col :span="20" offset="2" align="left" class="mt-5">
                <a-flex justify="space-between" align="center">
                    <a-typography-title>Knowledge</a-typography-title>
                    <div class="font-size--5 mb-1 font-weight-bold hoverable" @click="() => $router.push('/timeline/detail')">View All</div>
                </a-flex>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1 hoverable bg-hover" v-for="(item, _) in ListSkillDemo.sort((a,b) => (a.id > b.id ? -1 : 1)).slice(0, 3)" @click="redirect(item.url)">
                    <div class="black--text font-weight-bold font-size--5" style="text-decoration: underline;">
                        {{ item.skillset }}
                    </div>
                    <div class="black--text font-weight-normal font-size--5">
                        {{ item.timeline }}
                    </div>
                </div>
            </a-col>
            <!-- <a-col :span="20" offset="2" align="left" class="mt-3">
                <a-typography-title>Resume</a-typography-title>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1" v-for="(item, _) in listTimeline">
                    <div class="black--text font-weight-normal font-size--5">
                        {{ item.timeline }}
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        {{ item.title }}
                    </div>
                </div>
            </a-col>
            <a-col :span="20" offset="2" align="left" class="mt-5">
                <a-typography-title>Knowledge</a-typography-title>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1" v-for="(item, _) in listTimeline">
                    <div class="black--text font-weight-normal font-size--5">
                        {{ item.timeline }}
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        {{ item.title }}
                    </div>
                </div>
            </a-col> -->
            <a-col :span="20" offset="2" align="left" class="mt-5">
                <a-typography-title>Skillset</a-typography-title>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Language 
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-PHP-777BB4?style=for-the-badge&logo=php&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Golang-08a4ce?style=for-the-badge&logo=go&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Dart-b1e4ff?style=for-the-badge&logo=dart&logoColor=000000" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Sql-04a1de?style=for-the-badge&logo=mysql&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-SASS-%23CC6699?style=for-the-badge&logo=sass&logoColor=ffffff" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Frontend / Mobile
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="https://img.shields.io/badge/nuxt.js-00C58E?style=for-the-badge&logo=nuxtdotjs&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/next.js-000000?style=for-the-badge&logo=nextdotjs&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-D3&#46;js-333333?style=for-the-badge&logo=d3.js&logoColor=F9A03C" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-React-%23282C34?style=for-the-badge&logo=react" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Flutter-%23282C34?style=for-the-badge&logo=flutter&logoColor=2f71bb" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-React_Native-%23282C34?style=for-the-badge&logo=react" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Backend
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="https://img.shields.io/badge/Laravel-FF2D20?style=for-the-badge&logo=laravel&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-Express-269539?style=for-the-badge&logo=express&logoColor=ffffff" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Database
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-MongoDB-47A248?style=for-the-badge&logo=mongodb&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-PostgreSQL-336791?style=for-the-badge&logo=postgresql&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-GraphQL-E10098?style=for-the-badge&logo=graphql&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Elastic-f1bb12?style=for-the-badge&logo=elastic&logoColor=000000" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Testing
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="http://img.shields.io/badge/-Cypress-47A248?style=for-the-badge&logo=cypress&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-Jest-913E56?style=for-the-badge&logo=jest&logoColor=ffffff" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Deployment
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="https://img.shields.io/badge/-Heroku-430098?style=for-the-badge&logo=heroku&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Kubernetes-007ACC?style=for-the-badge&logo=kubernetes&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Digital_Ocean-007ACC?style=for-the-badge&logo=digitalocean&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="https://img.shields.io/badge/-Docker-black?style=for-the-badge&logo=docker" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-NGINX-269539?style=for-the-badge&logo=nginx&logoColor=ffffff" alt="" loading="lazy">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e7eb;" class="py-1">
                    <div class="black--text font-weight-normal font-size--5 mb-1">
                        Editors, Operating Systems and Other Tools
                    </div>
                    <div class="black--text font-weight-bold font-size--5">
                        <img class="mr-1" src="http://img.shields.io/badge/-MacOs-000000?style=for-the-badge&logo=apple&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-VS%20Code-007ACC?style=for-the-badge&logo=visual-studio-code&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-Centos-22216D?style=for-the-badge&logo=centos&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-Postman-f26534?style=for-the-badge&logo=postman&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-Debian-A81D33?style=for-the-badge&logo=debian&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-GNU%20Bash-000000?style=for-the-badge&logo=gnu-bash&logoColor=ffffff" alt="" loading="lazy">
                        <img class="mr-1" src="http://img.shields.io/badge/-IntelliJ%20IDEA-000000?style=for-the-badge&logo=intellij-idea&logoColor=ffffff" alt="" loading="lazy">
                    </div>
                </div>
            </a-col>
        </a-row>
        <div class="h-20"></div>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.image-me {
    height: 15rem;
    width: 15rem;
    background: url('/assets/img/me-real.png');
    background-size: cover;
    border-radius: 15rem;
    background-repeat: no-repeat;
    background-position: center;
}
</style>