.white--text {
    color: whitesmoke !important;
}

.black--text {
    color: black !important;
}

.orange-btpn--text {
    color: #F06C22 !important;
}

.font-weight-normal {
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.font-weight-bold {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-weight-lighter {
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-left {
    text-align: left;
}

.text--underline {
    text-decoration: underline;
    &:hover{
        color: #40A2E3 !important;
    }
}

@for $i from 1 to 100 {
    .font-size--#{$i} {
        font-size: .2 * $i + rem !important;
        line-height: .3 * $i + rem !important;;
    }

    .font-weight--#{$i} {
        font-weight: $i;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}