.hoverable {
    cursor: pointer;

}

.hoverable-shadow {
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
}

.no-scroll{
    overflow-y: hidden !important;
}

.scroll-visible{
    overflow-y: visible !important;
}
.scrollable{
    overflow-y: scroll !important;
}

.debug {
    border: 1px solid red;
}