@for $i from 1 to 100 {
    .pt-#{$i} {
        padding-top: 1 * $i + em;
    }
    .px-#{$i} {
        padding-left: 1 * $i + em;
        padding-right: 1 * $i + em;
    }
    .mx-#{$i} {
        margin-left: 1 * $i + em;
        margin-right: 1 * $i + em;
    }
    .mt-#{$i} {
        margin-top: 1 * $i + em;
    }
    .mb-#{$i} {
        margin-bottom: 1 * $i + em;
    }
    .mr-#{$i} {
        margin-right: 1 * $i + em;
    }
    .ml-#{$i} {
        margin-left: 1 * $i + em;
    }
    .my-#{$i} {
        margin-top: 1 * $i + em;
        margin-bottom: 1 * $i + em;
    }
    .py-#{$i} {
        padding-top: 1 * $i + em;
        padding-bottom: 1 * $i + em;
    }
    .pa-#{$i} {
        padding: 1 * $i + em;
    }
    .h-#{$i} {
        height: 1 * $i + vh;
        background-color: white;
    }
    .w-#{$i} {
        width: 1 * $i + vw;
        background-color: white;
    }
    .container-#{$i} {
        height: 1 * $i + vh;
        width: 1 * $i + vw;
    }
}