<script lang="ts" setup>
import { usePortfolioStore } from "./store";
import { QuestionCircleOutlined } from "@ant-design/icons-vue";
const store = usePortfolioStore()
store.getDataPortfolio()

</script>
<template>
    <LazyBaseAppNavbarMobileComponent />
    <LazyBaseAppModalDesktopComponent :is-show="store.isShowModal" :is-show-prev="store.isActivePortofolio != 0"
        :is-show-next="store.dataPortfolio != null && store.isActivePortofolio < store.dataPortfolio?.length - 1"
        @clickPreviousButton="store.backModal" @clickNextButton="store.nextModal" @clickCloseModal="store.closeModal">
        <a-row align="start">
            <a-col :span="24" align="center" v-if="store.dataPortfolio != null">
                <img :src="store.dataPortfolio[store.isActivePortofolio].img_thumbnail" alt="gambar-portofolio" width="100%"
                    style="border-radius: .6rem;">
            </a-col>
            <a-col :span="24" align="center" class="mt-1 px-2" v-if="store.dataPortfolio != null">
                <a-tag v-for="(item, _) in store.dataPortfolio[store.isActivePortofolio]?.tags">{{ item }}</a-tag>
            </a-col>
            <a-col :span="24" align="left" class="mt-1 px-4" v-if="store.dataPortfolio != null">
                <div class="font-size--8 font-weight-normal">{{ store.dataPortfolio[store.isActivePortofolio].title }}</div>
            </a-col>
            <a-col :span="24" align="center" class="px-4">
                <LazyPortofolioContent v-if="store.dataPortfolio != null"
                    :portfolio-type="store.dataPortfolio[store.isActivePortofolio].key" />
            </a-col>
        </a-row>
    </LazyBaseAppModalDesktopComponent>
    <a-layout-content style="height: 100vh;">
        <div class="h-25"></div>
        <a-row style="background-color: white; min-height: 100vh;" align="start">
            <a-col :span="18" offset="3" align="center">
                <a-row class="mb-3">
                    <a-col :span="23" offset="1" align="center">
                        <a-input-search placeholder="Search Portfolio" @change="store.inputSearch"  :loading="store.isLoadingPortfolio" />
                    </a-col>
                </a-row>
                <a-row class="mb-3">
                    <a-col :span="23" offset="1" align="start">
                        <a-dropdown style="width: 100%;">
                            <template #overlay>
                                <a-menu @click="(val: any) => { store.goToFilter(val.key) }">
                                    <a-menu-item key="mvp">
                                        <a-flex justify="space-between" align="center">
                                            <div>Most Valuable Product</div>
                                            <div>
                                                <a-tooltip placement="top" :title="store.category.mvp">
                                                    <QuestionCircleOutlined />
                                                </a-tooltip>
                                            </div>
                                        </a-flex>
                                    </a-menu-item>
                                    <a-menu-item key="mmp">
                                        <a-flex justify="space-between" align="center">
                                            <div>Minimum Marketable Product</div>
                                            <div>
                                                <a-tooltip placement="top" :title="store.category.mmp">
                                                    <QuestionCircleOutlined />
                                                </a-tooltip>
                                            </div>
                                        </a-flex>
                                    </a-menu-item>
                                    <a-menu-item key="opensource">
                                        <a-flex justify="space-between" align="center">
                                            <div>Open Source</div>
                                            <div>
                                                <a-tooltip placement="top" :title="store.category.opensource">
                                                    <QuestionCircleOutlined />
                                                </a-tooltip>
                                            </div>
                                        </a-flex>
                                    </a-menu-item>
                                    <a-menu-item key="studycase">
                                        <a-flex justify="space-between" align="center">
                                            <div>Study Case</div>
                                            <div>
                                                <a-tooltip placement="top" :title="store.category.studycase">
                                                    <QuestionCircleOutlined />
                                                </a-tooltip>
                                            </div>
                                        </a-flex>
                                    </a-menu-item>
                                    <a-menu-item key="labs">
                                        <a-flex justify="space-between" align="center">
                                            <div>Labs</div>
                                            <div>
                                                <a-tooltip placement="top" :title="store.category.labs">
                                                    <QuestionCircleOutlined />
                                                </a-tooltip>
                                            </div>
                                        </a-flex>
                                    </a-menu-item>
                                </a-menu>
                            </template>
                            <a-button type="dashed" block>
                                Category
                            </a-button>
                        </a-dropdown>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="11" offset="1" align="center" class="container card hoverable-shadow"
                        v-for="(item, index) in store.transformDataPortfolio()" @click="store.setModal(index)">
                        <div
                            :style="['width: 100%; height: 13rem; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: center;', { backgroundImage: `url('${item.img_thumbnail}')` }]">
                        </div>
                        <div style="height: 7em;">
                            <div class="font-size--7 mt-1">{{ item.title }}</div>
                            <div>{{ item.desc }}</div>
                        </div>
                    </a-col>
                </a-row>
            </a-col>
        </a-row>
        <div class="h-10"></div>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.container {
    min-height: 20rem;
    margin-bottom: 4em;
}

.card {
    height: 20rem;
    border-style: dashed;
    border-width: 5px;
    border-color: gainsboro;
}
</style>