<script lang="ts" setup>
const props = defineProps<{
    isShow: Boolean
    isShowPrev: Boolean
    isShowNext: Boolean
}>()

const sizeButton = ref("4em")
</script>
<template>
    <TransitionFade :scale="1">
        <div class="overlay" v-if="isShow">
            <div class="prev-button" v-if="isShowPrev" @click="$emit('clickPreviousButton')">
                <svg :width="sizeButton" :height="sizeButton" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="cursor: pointer; border-style: dashed; border-width: .1em; border-radius: 2rem; position: fixed; top: 50%; left: 3vw;">
                    <path d="M15 18L9 12L15 6" stroke="black" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="next-button" v-if="isShowNext" @click="$emit('clickNextButton')">
                <svg :width="sizeButton" :height="sizeButton" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    style="cursor: pointer; border-style: dashed; border-width: .1em; border-radius: 2rem; position: fixed; top: 50vh; right: 3vw;">
                    <!-- Arrow path for next button -->
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        fill="none" />
                </svg>
            </div>
            <div class="close-button" @click="$emit('clickCloseModal')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :width="sizeButton" :height="sizeButton"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    style="cursor: pointer; border-style: dashed; border-width: .1em; border-radius: 2rem; position: absolute; top: 1rem; right: 13vw; z-index: 3;">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </div>
            <div class="modal">
                <slot></slot>
            </div>
        </div>
    </TransitionFade>
</template>
<style lang="scss" scoped>
.overlay {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(.20em);
    overflow-y: scroll;

    .modal {
        overflow-x: hidden;
        max-height: 90vh;
        width: 70%;
        border-width: .2em;
        border-style: dashed;
        border-color: whitesmoke;
        border-radius: 1em;
        top: 5%;
        left: 15%;
        position: fixed;
        background-color: rgba(255, 255, 255, 1);
        padding: 2rem;
    }
}
</style>