<template>
    <LazyBaseAppNavbarMobileComponent />
    <a-layout-content style="min-height: 100vh;">
        <div class="h-12"></div>
        <a-row style="background-color: white;" align="middle">
            <a-col :span="20" offset="2" align="center">
                <div class="image-me"></div>
            </a-col>
            <a-col :span="12" offset="6" align="left">
                <a-typography-title>Contact</a-typography-title>
                <div class="black--text font-weight-normal font-size--6">
                    Saya Faisal Affan, saat ini saya bekerja di Bank BTPN Syaria di Jakarta sebagai <b class="font-weight-bold">Backend Developer</b>
                </div>
                <div class="h-5"></div>
                <div class="black--text font-weight-normal font-size--6">
                    Anda bisa mengkontak saya dengan :
                </div>
                <div class="black--text font-weight-normal font-size--6">
                    <ul>
                        <li>- Email: <a target="_blank" href="mailto:faisallionel@gmail.com">faisallionel@gmail.com</a></li>
                        <li>- Linkedin: <a target="_blank" href="https://www.linkedin.com/in/faisal-affan/">https://www.linkedin.com/in/faisal-affan/</a></li>
                        <li>- Github: <a target="_blank" href="https://github.com/faisalaffan">https://github.com/faisalaffan</a></li>
                        <li>- Instagram: <a target="_blank" href="https://www.instagram.com/faisal.afn/">https://www.instagram.com/faisal.afn/</a></li>
                    </ul>
                </div>
                <div class="h-5"></div>
            </a-col>
        </a-row>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.image-me {
    height: 30vh;
    width: 30vh;
    background: url('/assets/img/me-real.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -15vh;
}
</style>