<script lang="ts" setup>
const router = useRouter()
const route = useRoute()
function goTo(link: string) {
    if (link == "/") {
        window.location.href = "/"
    } else {
        router.push(link)
    }
}

const selectedKeys = ref<string[]>(['1']);

onMounted(() => {
    switch (route.path) {
        case "/home":
            selectedKeys.value = ['1']
            break;
        case "/about":
            selectedKeys.value = ['2']
            break;
        case "/portofolio":
            selectedKeys.value = ['3']
            break;
        case "/contact":
            selectedKeys.value = ['4']
            break;
        case "/news":
            selectedKeys.value = ['5']
            break;
        case "/timeline":
            selectedKeys.value = ['6']
            break;
        case "/album":
            selectedKeys.value = ['7']
            break;
    
        default:
            selectedKeys.value = ['1']
            break;
    }
})
</script>
<template>
    <a-layout-header class="header">
        <a-flex justify="space-around" align="center">
            <div class="hoverable font-size--6 black--text bg-logo" @click="goTo('/')"></div>
        </a-flex>
    </a-layout-header>
    <a-layout-sider breakpoint="xl" collapsed-width="0" style ="z-index: 10; position: fixed; height: 100%;" theme="light">
        <div class="logo" />
        <a-menu v-model:selectedKeys="selectedKeys">
            <a-menu-item key="1">
                <div class="nav-link black--text" @click="goTo('/')">Home</div>
            </a-menu-item>
            <a-menu-item key="2">
                <div class="nav-link black--text" @click="goTo('/about')">About</div>
            </a-menu-item>
            <a-menu-item key="3">
                <div class="nav-link black--text" @click="goTo('/portofolio')">Portofolio</div>
            </a-menu-item>
            <a-menu-item key="4">
                <div class="nav-link black--text" @click="goTo('/contact')">Contact</div>
            </a-menu-item>
            <a-menu-item key="5">
                <div class="nav-link black--text" @click="goTo('/news')">News</div>
            </a-menu-item>
            <a-menu-item key="6">
                <div class="nav-link black--text" @click="goTo('/timeline')">Timeline</div>
            </a-menu-item>
            <a-menu-item key="7">
                <div class="nav-link black--text" @click="goTo('/album')">Album</div>
            </a-menu-item>
        </a-menu>
    </a-layout-sider>
</template>
<style lang="scss" scoped>
.header {
    color: #fff !important;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: rgb(229 231 235);
}

.scrolled {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.nav-link {
    width: 100%;
    padding: 0 .8em;
    text-align: center;
    cursor: pointer;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:hover {
        background-color: whitesmoke;
    }
}

.bg-logo {
    height: 2em;
    width: 2em;
    background: url("/assets/img/icon.png");
    background-size: cover;
    vertical-align: middle;
    margin: .7rem auto;
}
</style>