<script lang="ts" setup>
const router = useRouter()
function goTo(link: string) {
    if (link == "/") {
        window.location.href = "/"   
    } else {
        router.push(link)
    }
}
</script>
<template>
    <a-layout-header class="header">
        <a-flex justify="space-around" align="center">
            <div class="hoverable font-size--6 black--text bg-logo" @click="goTo('/')"></div>
            <a-space :size="0">
                <div class="nav-link black--text" @click="goTo('/')">Home</div>
                <div class="nav-link black--text" @click="goTo('/about')">About</div>
                <div class="nav-link black--text" @click="goTo('/portofolio')">Portofolio</div>
                <div class="nav-link black--text" @click="goTo('/contact')">Contact</div>
                <div class="nav-link black--text" @click="goTo('/news')">News</div>
                <div class="nav-link black--text" @click="goTo('/timeline')">Timeline</div>
                <div class="nav-link black--text" @click="goTo('/album')">Album</div>
            </a-space>
        </a-flex>
    </a-layout-header>
</template>
<style lang="scss" scoped>
.header {
    color: #fff !important;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: rgb(229 231 235);
}

.scrolled {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.nav-link {
    width: 100%;
    padding: 0 .8em;
    text-align: center;
    cursor: pointer;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:hover {
        background-color: whitesmoke;
    }
}

.bg-logo {
    height: 1.5em;
    width: 1.5em;
    background: url("/assets/img/icon.png");
    background-size: cover;
}
</style>