<script lang="ts" setup>

const props = defineProps<{
    displayTextArray: string[],
    isMobile?: boolean,
}>()

const timeoutTypingSpeed = ref<NodeJS.Timeout>()
const timeoutTextDelay = ref<NodeJS.Timeout>()
const timeoutErasingSpeed = ref<NodeJS.Timeout>()

const typingStore = defineStore('typingComponentStore', {
    state: () => ({
        typeValue: "",
        typeStatus: true,
        displayTextArray: props.displayTextArray,
        typingSpeed: 100,
        erasingSpeed: 100,
        newTextDelay: 2000,
        displayTextArrayIndex: 0,
        charIndex: 0,
        isShow: false
    }),
    actions: {
        typeText() {
            if (this.charIndex < this.displayTextArray[this.displayTextArrayIndex].length) {
                if (!this.typeStatus) this.typeStatus = true;
                this.typeValue += this.displayTextArray[this.displayTextArrayIndex].charAt(
                    this.charIndex
                );
                this.charIndex += 1;
                timeoutTypingSpeed.value = setTimeout(this.typeText, this.typingSpeed);
            } else {
                this.typeStatus = false;
                timeoutTextDelay.value = setTimeout(this.eraseText, this.newTextDelay);
            }
        },
        eraseText() {
            if (this.charIndex > 0) {
                if (!this.typeStatus) this.typeStatus = true;
                this.typeValue = this.displayTextArray[this.displayTextArrayIndex].substring(
                    0,
                    this.charIndex - 1
                );
                this.charIndex -= 1;
                timeoutErasingSpeed.value = setTimeout(this.eraseText, this.erasingSpeed);
            } else {
                this.typeStatus = false;
                this.displayTextArrayIndex += 1;
                if (this.displayTextArrayIndex >= this.displayTextArray.length)
                    this.displayTextArrayIndex = 0;
                timeoutTypingSpeed.value = setTimeout(this.typeText, this.typingSpeed);
            }
        },
    },
});

const store = typingStore()
onMounted(() => {
    store.isShow = true
    setTimeout(store.typeText, store.newTextDelay + 200);
})
onBeforeRouteLeave(() => {
    clearTimeout(timeoutTypingSpeed.value)
    clearTimeout(timeoutTextDelay.value)
    clearTimeout(timeoutErasingSpeed.value)
    timeoutTypingSpeed.value = undefined
    timeoutTextDelay.value = undefined
    timeoutErasingSpeed.value = undefined
    store.isShow = false
})
</script>
<template>
    <div :class="['font-weight-bold font-custom', props.isMobile ? 'font-size--10' : 'font-size--12']" v-if="store.isShow">
        <span class="typed-text">{{ store.typeValue }}</span>
        <span :class="['blinking-cursor', props.isMobile ? 'font-size--10' : 'font-size--12']">|</span>
        <span class="cursor" :class="{ typing: store.typeStatus }">&nbsp;</span>
    </div>
</template>
<style lang="scss" scoped>
.font-custom {
    background: -webkit-linear-gradient(right, #3a5efa, #2c72fe, #2d84ff, #3e95fe, #56a4fb, #5ca4fc, #61a4fe, #67a4ff, #6a93ff, #7a80ff, #9267fd, #ad44ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blinking-cursor {
    color: #2c3e50;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #2c3e50;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #2c3e50;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #2c3e50;
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #2c3e50;
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #2c3e50;
    }
}
</style>