<script lang="ts" setup>
import moment from "moment";
import ListAlbum from "./album";

function redirectToGooglePhotos(url: string) {
    window.open(url, '_blank');
}


</script>
<template>
    <LazyBaseAppNavbarMobileComponent />
    <a-layout-content style="height: 100vh; overflow-y: scroll;">
        <div class="h-10"></div>
        <a-row style="background-color: white; min-height: 100vh;" align="center" justify="center">
            <a-col :span="23" offset="5" align="center">
                <a-row>
                    <a-col :span="10" align="center" class="container card hoverable-shadow"
                        v-for="(item, _) in ListAlbum" @click="redirectToGooglePhotos(item.url)">
                        <div
                            :style="['width: 100%; height: 20rem; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: center;', { backgroundImage: `url('${item.url}')` }]">
                        </div>
                        <div class="description">
                            <div style="height: 7em;">
                                <div class="font-size--7 mt-1">{{ item.name }}</div>
                                <div class="font-size--5 mt-1">{{ item.timeline }}</div>
                            </div>
                        </div>
                    </a-col>
                </a-row>
            </a-col>
        </a-row>
        <div class="h-10"></div>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.card {
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .description {
  opacity: 1;
}
</style>
