<template>
    <LazyBaseAppNavbarMobileComponent />
    <a-layout-content style="min-height: 80vh;">
        <div class="h-15"></div>
        <a-row style="background-color: white;" align="middle">
            <a-col :span="24" align="center">
                <div class="image-me"></div>
            </a-col>
            <a-col :span="22" offset="1" align="left" class="mt-5">
                <a-typography-title style="text-transform: capitalize;" class="font-size--10">{{ $t('about.title_about') }}</a-typography-title>
                <div class="black--text font-weight-normal font-size--6" v-html="$t('about.desc_1')"></div>
                <div class="black--text font-weight-normal font-size--6">
                    <ul>
                        <li>- Applications and Cloud Architect</li>
                        <li>- Big data engineer</li>
                        <li>- Data scientist</li>
                        <li>- DevOps engineer</li>
                    </ul>
                </div>
                <div class="black--text font-weight-normal font-size--6" v-html="$t('about.desc_speciality')"></div>
                <a-typography-title style="text-transform: capitalize;" class="font-weight-normal mt-1 font-size--10">{{ $t('about.why_me') }}</a-typography-title>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.one')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.two')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.three')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.four')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.five')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.six')"></div>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list.seven')"></div>
                
                <a-typography-title style="text-transform: capitalize;" class="font-weight-normal mt-1 font-size--10">{{ $t('about.why_me_2') }}</a-typography-title>
                <div class="black--text font-size--6" v-html="$t('about.why_me_list_2.one')"></div>
                <div class="black--text font-size--7 ml-1 my-1 font-weight-bold">1. <a href="https://roadmap.sh/backend?s=651c5dca1205b5c21b71f34e">Backend Roadmap (Progress)</a></div>
                <iframe src="https://roadmap.sh/backend?s=651c5dca1205b5c21b71f34e" width="100%" height="500rem"></iframe>
                <div class="black--text font-size--7 ml-1 my-1 font-weight-bold">2. <a href="https://roadmap.sh/frontend?s=651c5dca1205b5c21b71f34e">Frontend Roadmap (Progress)</a></div>
                <iframe src="https://roadmap.sh/frontend?s=651c5dca1205b5c21b71f34e" width="100%" height="500rem"></iframe>
                <div class="black--text font-size--7 ml-1 my-1 font-weight-bold">3. <a href="https://roadmap.sh/full-stack?s=651c5dca1205b5c21b71f34e">Fullstack Roadmap (Progress)</a></div>
                <iframe src="https://roadmap.sh/full-stack?s=651c5dca1205b5c21b71f34e" width="100%" height="500rem"></iframe>

                <div class="black--text font-size--6" v-html="$t('about.why_me_list_2.two')"></div>
                <img src="@/assets/img/faisal-experience.gif" alt="" width="100%" loading="lazy">
                
                <div class="black--text font-size--6" v-html="$t('about.why_me_list_2.three')"></div>
                <img src="@/assets/img/faisal-jira.png" alt="" width="100%" loading="lazy">

                <div class="black--text font-size--6" v-html="$t('about.why_me_list_2.four')"></div>
                <img src="@/assets/img/faisal-certificate.png" alt="" width="100%" loading="lazy">

                <div class="black--text font-size--6" v-html="$t('about.why_me_list_2.five')"></div>
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/-x-f49zDVaU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>

                <a-typography-title style="text-transform: capitalize;" class="font-weight-normal mt-1 font-size--10">Github Activity</a-typography-title>
                <img src="https://ghchart.rshah.org/faisalaffan" alt="" width="100%" loading="lazy">
            </a-col>
        </a-row>
        <div class="h-10"></div>
    </a-layout-content>
</template>
<style lang="scss" scoped>
.image-me {
    height: 30vh;
    width: 30vh;
    background: url('/assets/img/me-real.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -15vh;
}
</style>